{% extends 'base.html' %}
{% block link %}{% endblock %}
{% block subtitle %} Личный кабинет {% endblock %}
{% block content %}

<h1>{{ data["surname"] }} {{ data["first_name"] }}  {{ data["last_name"] }}</h1>
<p>Email: {{ data["email"] }}</p>
<p>Номер телефона: {{ data["phone"] }}</p>
<p>Количество пройденных тестов: {{ data["test_count"] }}</p>
<p>Количество правильно решеных вопросов: {{ data["correct_questions"] }}</p>
<div>Процент правильно решенных вопросов: </div>
<div>{{ data['correct_rate'] }}%</div>
<div id="progressbar"
style="width: 250px;background: linear-gradient(90deg, rgb(0, 255, 17) {{data['correct_rate']}}%, rgba(2,0,36,1) 4%);height: 15px">
</div>

<form method="get" action="{{ url_for('edit') }}">
  <input type="submit" class="btn btn-danger" style="margin-top: 10px;margin-left: 5px;" value="Изменить">
</form>

<form action="/logout">
  <input type="submit" class="btn btn-danger" style="margin: 5px;margin-left: 5px;" value="Выйти их учетной записи">
</form>
{% endblock %}

  <!-- <div>Пользователя:</div>
  <input type="text" class="form-control" placeholder="{{ first_name }}" aria-label="{{name}}"
    aria-describedby="basic-addon1">
  <input type="text" class="form-control" placeholder="{{name}}" aria-label="{{name}}" aria-describedby="basic-addon1">
  <input type="text" class="form-control" placeholder="{{name}}" aria-label="{{name}}" aria-describedby="basic-addon1">
  <div>Пароль:</div>
  <input type="text" class="form-control" placeholder="{{password}}" aria-label="{{password}}"
    aria-describedby="basic-addon1" name="newpassword">
  <div class="input-group mb-3" style="margin-top: 5px;">
    <input type="text" class="form-control" placeholder='{{mail}}' aria-describedby="basic-addon2" name="mail">
    <span class="input-group-text">@</span>
    <input type="text" name="mailmail" class="form-control" placeholder="{{mailmail}}" aria-label="mail">
  </div>
  <div>Примеров решено:</div>
  <div>{{ primResh }}</div>
  <div name="progressbar" id="pb"
    style="width: 250px;background: linear-gradient(90deg, rgb(0, 255, 17) {{grad}}%, rgba(2,0,36,1) 4%);height: 15px">
  </div>
  <input type="submit" class="btn btn-primary" style="margin: 25px;margin-left: 5px" value="Подтвердить изменения"> -->
<!-- <p>Уровень Престижа: {{prist}}</p> -->