{% extends 'base.html' %}
{% block content %}
<div class="container" id="con">
  <div class="card" style="width: 25rem;">
    <div class="card-body">
      <h4>Личный кабинет</h4>
      <div class="col-md">
        <div class="form-floating">
          <input type="text" class="form-control"
            value="{{ data['surname'] }} {{ data['first_name'] }} {{ data['last_name'] }}" readonly>
          <label>ФИО</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <input type="text" class="form-control" value="{{ data['email'] }}" readonly>
          <label>Email</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <input type="text" class="form-control" value="{{ data['phone'] }}" readonly>
          <label>Номер телефона</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <input type="email" class="form-control" value="{{ data['test_count'] }}" readonly>
          <label>Количество пройденных тестов</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <input type="email" class="form-control" value="{{ data['question_count'] }}" readonly>
          <label>Количество правильно решенных вопросов</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <input type="email" class="form-control" value="{{ data['correct_rate'] }}%" readonly>
          <label>Процент правильно решенных вопросов</label>
        </div>
      </div>
      <div class="card">
        <div class="card-body">     
          <div class="progress" role="progressbar" aria-label="Example with label"  aria-valuemin="0%" aria-valuemax="100%" style="height: 1rem;">
            <div class="progress-bar" style="width: {{ data['correct_rate'] }}%"></div>
          </div>
          
        </div>
      </div>


      <form id="form-edit" method="get" action="{{ url_for('edit') }}">
        <button type="submit" class="btn btn-danger">Изменить</button>
      </form>

      <form id="form-logout" action="/logout">
        <input type="submit" class="btn btn-danger" value="Выйти их учетной записи">
      </form>
      <form id="form-drop" action="/drop_user">
        <input type="submit" class="btn btn-danger" value="Удалить учетную запись">
      </form>
    </div>
  </div>
</div>
<style>
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  }
  #form-edit {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: inherit;
 
  }
  #form-logout {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: inherit;
  }
  #form-drop {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: inherit;
  }
  #con {
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem 
  }
</style>
{% endblock %}