{% extends 'base.html' %}
{% block title %} Edit {% endblock %}
{% block content %}
<div class="container" id="con">

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h4 class="card-title" style="margin: 0%;">Изменение данных пользователя</h4>
      <form id="form" method="post" action="{{ url_for('edit') }}">

        <div class="col-md">
          <div class="form-floating">
            <input type="text" class="form-control" value="{{ data['first_name'] }}" name="first_name">
            <label>Имя</label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">
            <input type="text" class="form-control" value="{{ data['surname'] }}" name="surname">
            <label>Фамилия</label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">
            <input type="text" class="form-control" value="{{ data['last_name'] }}" name="last_name">
            <label>Отчество</label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">
            <input type="email" class="form-control" value="{{ data['email'] }}" name="email">
            <label>Email</label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">
            <input type="tel" class="form-control" value="{{ data['phone'] }}" name="phone">
            <label>Номер телефона</label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">
            <input type="password" class="form-control" value="{{ data['password'] }}" name="password">
            <label>Пароль</label>
          </div>
        </div>

        <button type="submit" class="btn btn-danger">Изменить</button>
      </form>
    </div>
  </div>
</div>

<style>
  #con {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  }

  #form {
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    gap: inherit;
  }
</style>

{% endblock %}